.Container {
	display: flex;
	align-items: flex-start;

	gap: 50px;

	@media (max-width: 1230px) {
		flex-wrap: wrap;
		justify-content: center;

		text-align: center;
	}
}

.Image {
	height: auto;
}

.Text {
	display: flex;
	flex-direction: column;
	gap: 20px;

	text-wrap: balance;
}
