.Header {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8;

	width: 100%;
	min-width: 360px;
	background: transparent;
}

.Container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.Logo {
	padding: 20px 15px 20px 20px;
	background: white;
	border-radius: 0 0 20px 20px;

	@media (max-width: 768px) {
		svg {
			width: 80px;
		}

		padding: 10px 10px 10px 15px;
	}
}
