.Header {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8;

	width: 100%;
	background: transparent;

	color: white;
}

.Container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.Logo {
	display: inline-block;
	padding: 20px 15px 15px 20px;

	background: white;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}
