.List {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.Item {
	display: flex;
}

.Icon {
	flex-shrink: 0;
	display: block;
	width: 80px;
	height: 80px;
}

.Text {
}

.Title {
	font-size: 22px;
	font-weight: 700;
}
