.Container {
	position: relative;

	font-size: 50px;
	font-weight: 700;
	text-align: center;
	color: white;

	@media (max-width: 992px) {
		font-size: 40px;
	}

	@media (max-width: 768px) {
		font-size: 30px;
	}
}

.SwiperContainer {
	z-index: -1;
}

.Image {
	object-fit: cover;
	object-position: center;
	height: 600px;

	@media (max-width: 992px) {
		height: 500px;
	}

	@media (max-width: 768px) {
		height: 350px;
	}

	@media (max-width: 576px) {
		height: 250px;
	}
}

.Content {
	position: absolute;
	top: 200px;
	left: 0;

	width: 100%;

	@media (max-width: 768px) {
		top: 150px;
	}

	@media (max-width: 576px) {
		top: 100px;
	}

	&__Container {
		max-width: 800px;
	}
}
